<p-card>
<div style="display: flex;">
  <div  [style]="{ width: '30%' }">
        <span style="font-weight: bold;">
          Codigo:
        </span>
        <span>
          {{compra.compra_codigo}}
        </span><br>
        <span style="font-weight: bold;">
          Estado:
        </span>
        <span>
          {{compra.estado_compra.estado_compra_nombre}}
        </span><br>
    </div>
  <div style="flex: 1;">
    <p-scrollPanel [style]="{ width: '100%', maxHeight: '250px' }">
      @for (disco of producto; track disco.id) {
      <app-mostrador-compra [producto]="disco" [eliminable]="false">
      </app-mostrador-compra>
      }
    </p-scrollPanel>
    </div>
  </div>
</p-card>
