<div style="max-width: 290px;">
  <p-card>
    <div class="flex align-items-center">
      <p-image  (click)="mostrarDetalles()" src="http://api.biobioreciclajes.cl/api/images/{{producto.imagenUrl}}" alt="Image" height="250" width="250"></p-image>
    </div>
    <div>
      <span style="font-weight: bold;">
        {{producto.nombre}}
      </span><br>
      @if(producto.descuento != null){
      <del> Precio: {{producto.precio}} Clp.</del><span> -{{producto.descuento}}%</span><br>
      <span> Precio: {{(producto.precio)*(100 - producto.descuento) / 100}} Clp.</span><br>
      }@else{
      <span> Precio: {{producto.precio}} Clp.</span><br>
      }
      <span> Estado: {{producto.estado}}.</span><br>
      @switch(producto.tipoProducto){
      @case("disco"){
      <span style="word-wrap: break-word;">
        {{producto.memoria}} GB, {{producto.marca}}, tamaño: {{producto.tamano}}, sistema de archivos: {{producto.sistemaArchivos}}.
      </span>
      }
      @case("periferico"){
      <span style="word-wrap: break-word;">
        Tipo: {{producto.tipo_periferico}}, entrada: {{producto.tipo_entrada}}, Marca: {{producto.marca}}.
      </span>
      }
      @case("ram"){
      <span style="word-wrap: break-word;">
        Tipo: {{producto.tipo_ram}}, capacidad: {{producto.capacidad}} GB, tamaño: {{producto.tamano_ram}} velocidad: {{producto.velocidad_ram}}, Marca: {{producto.marca}}.
      </span>
      }
      @case("cable"){
      <span style="word-wrap: break-word;">
        Unidades disponibles: {{producto.cantidad}}, precio: {{producto.precio}}, marca: {{producto.marca}}, tipo de entrada: {{producto.tipo_entrada}}.
      </span>
      }
      }
    </div>
    <div style="margin-right: 10px; margin-top: 20px; text-align: right;">
      @if(producto.tipoProducto == "cable"){
      <div>
        <p-dropdown
          [options]="cantidadProducto"
          [(ngModel)]="producto.cantidad_seleccionada"
          placeholder="Cantidad" />
      </div>
      <div style=" margin-top: 5px">
        <p-button
          [outlined]="true"
          size="small"
          [disabled]="!producto.cantidad_seleccionada"
          (click)="anadirAlCarrito()"
          label="Añadir al carrito"></p-button>
      </div>
      }
      @if(producto.tipoProducto != "cable"){
      <div>
        <p-button [outlined]="true" size="small" (click)="anadirAlCarrito()" label="Añadir al carrito"></p-button>
      </div>
      }
      </div>
  </p-card>
    </div>

    <p-dialog [draggable]="false" header="Detalles - {{producto.tipoProducto}}: {{producto.nombre}}" [(visible)]="visible" [style]="mobile ? {width: '100%'}: {width: '50vw'}">
      @switch(producto.tipoProducto){
      @case("disco"){
      <p-image
        src="http://api.biobioreciclajes.cl/api/images/{{producto.imagenUrl}}"
        alt="Image" height="250" width="250"></p-image>
      <p-image
        [style]="{ marginLeft: '10px' }"
        src="http://api.biobioreciclajes.cl/api/images/{{producto.crystaldisk}}"
        alt="Image" height="350" width="350"></p-image>
        <br>
      <span style="word-wrap: break-word;">
        {{producto.memoria}} GB, {{producto.marca}}, tamaño: {{producto.tamano}}, sistema de archivos: {{producto.sistemaArchivos}}, tipo de entrada: {{producto.tipo_entrada}}.
      </span>
        <br/>
      }
      @case("periferico"){
      <p-image
        src="http://api.biobioreciclajes.cl/api/images/{{producto.imagenUrl}}"
        alt="Image" height="250" width="250"></p-image>
      <br>
      <span style="word-wrap: break-word;">
        Tipo: {{producto.tipo_periferico}}, entrada: {{producto.tipo_entrada}}, Marca: {{producto.marca}}.
      </span>
        <br>
      }
      @case("ram"){
      <p-image
        src="http://api.biobioreciclajes.cl/api/images/{{producto.imagenUrl}}"
        alt="Image" height="250" width="250"></p-image>
      <br>
      <span style="word-wrap: break-word;">
        Tipo: {{producto.tipo_ram}}, capacidad: {{producto.capacidad}} GB, tamaño: {{producto.tamano_ram}} velocidad: {{producto.velocidad_ram}}, Marca: {{producto.marca}}.
      </span>
        <br>
      }
      @case("cable"){
      <span style="word-wrap: break-word;">
        Unidades disponibles: {{producto.cantidad}}, precio: {{producto.precio}}, marca: {{producto.marca}}, tipo de entrada: {{producto.tipo_entrada}}.
      </span>
        <br>
      }
      }
      @if(productosRecomendados.length != 0){
        <br>
        <span style="font-weight: bold;">
          Productos recomendados:
        </span>
        <p-carousel
          [value]="productosRecomendados"
          [numVisible]="2"
          [numScroll]="3"
          [circular]="false">
          <ng-template let-product pTemplate="item">
            <app-mostrador-producto
              [producto] = product
              [clicable] = false
              (agregarAlCarro)="agregarRecomendado(product)"
              />
          </ng-template>
        </p-carousel>
          }
    </p-dialog>
    <p-dialog [draggable]="false"
      header="ATENCION"
      [(visible)]="advertenciaVisible" [style]="{width: '50vw'}">
      Acaba de añadir al carrito un producto con estado "Para respuesto" o "Por revisar", este tipo de productos no estan en condiciones de ser usados como componentes funcionales en ningun equipo, o no esta garantizado su correcto funcionamiento.
      <div style="justify-content: flex-end; margin-top: 3%; display: flex;">
        <div style="margin-right: 10px">
          <p-button
            [outlined]="true"
            size="small"
            (click)="cancelarAnadir()"
            label="Cancelar"></p-button>
        </div>
        <div>
          <p-button
            [outlined]="true"
            size="small"
            (click)="confirmarAnadir()"
            label="Añadir al carrito"></p-button>
        </div>
      </div>
    </p-dialog>
