<div [style]="{ marginLeft:'11%',marginRight:'11%' }">
  <app-nav-bar
    [email]="email"
    [password]="password"
    (abrirCarritoOutput)="abrirCarrito()">
  </app-nav-bar>
  <router-outlet (activate)="subscribeToChildEvent($event)"></router-outlet>
  <app-preview-compra
    (discoDuroOutput)="actualizarCarritoDiscosDuros($event)"
    (cerrarCarrito)="abrirCarrito()"
    (recargarPagina)="recargarPagina()"
    [abierto]="expandedCarrito"
    [costoTotal]="costoTotal"
    [productos]="productos"></app-preview-compra>
</div>
