<div [style]="{ marginLeft:'11%',marginRight:'11%' }">
  <app-nav-bar
    (abrirCarritoOutput)="abrirCarrito()">
  </app-nav-bar>
  <div [style]="{ marginTop:'1%',marginBottom:'1%' }">
    <router-outlet (activate)="subscribeToChildEvent($event)"></router-outlet>
  </div>
  <app-preview-compra
    (discoDuroOutput)="actualizarCarritoDiscosDuros($event)"
    (cerrarCarrito)="abrirCarrito()"
    (recargarPagina)="recargarPagina()"
    [abierto]="expandedCarrito"
    [costoTotal]="costoTotal"
    [productos]="productos"></app-preview-compra>
</div>
