<p-sidebar [style]="mobile ? { } : {width:'25%'}" (onHide)="cerrarSidebar()" showCloseIcon="false" [visible]="abierto"  position="right">
    <h3>Carrito de compras</h3>
    @if(productos.length == 0){
      <p> El carrito de compras está vacio. </p>
    }
    @if(productos.length != 0){
    <p>Costo total: {{costoTotal}}</p>
    <p-button size="small" (click)="continuarCompra()">
      Finalizar compra
    </p-button>
      }
    @for (producto of productos; track producto.id) {
    <app-mostrador-compra (eliminarCompra)="eliminarCompra($event)" [producto]="producto">
    </app-mostrador-compra>
    }
</p-sidebar>

<p-dialog [draggable]="false" header="Finalizar compra" [(visible)]="finalizarCompraVisible" [style]="mobile ? { } : {width: '50vw'}">
  @switch(progresoCompra){
  @case(0){
  <p-stepper [(activeStep)]="pasoCompra" [linear]="true">
    <p-stepperPanel header="Carrito">
        <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
          <p>Costo total: {{costoTotal}}</p>
          <p-scrollPanel [style]="{ width: '100%', height: '250px' }">
          @for (producto of productos; track producto.id) {
          <app-mostrador-compra (eliminarCompra)="eliminarCompra($event)" [producto]="producto">
          </app-mostrador-compra>
          }
          </p-scrollPanel>
            <div style="text-align: right;" class="flex pt-4 justify-content-end">
                <p-button label="Confirmar carrito" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextCallback.emit()" /></div
        ></ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Entrega">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
          <span>Metodo de entrega:</span>
          <div class="flex justify-content-between">
            <p-radioButton
              name="retiro"
              value="retiro"
              autofocus="true"
              [(ngModel)]="selectedRetiro"
              inputId="1"></p-radioButton>
            <label for="1" class="ml-2">Retiro en tienda</label>
            <p-radioButton
              name="descacho"
              value="despacho"
              [style]="{ 'margin-left': '30px' }"
              [(ngModel)]="selectedRetiro"
              inputId="despacho"></p-radioButton>
            <label for="despacho" class="ml-2">Despacho a domicilio</label>
          </div>
          <p-scrollPanel [style]="{ width: '100%', height: '250px' }">
            @if(selectedRetiro == 'despacho'){
            @for (direccion of direcciones; track direcciones) {
            <div>
              <app-mostrador-direccion
                [direccion]="direccion"
                [selectedDireccion]="selectedDireccion"
                (changeSelectedDireccion)="updateDireccion($event)"
                />
            </div>
            }
            @if(agregando){
    <div>
            <p-dropdown
              [options]="listaRegiones"
              [(ngModel)]="nuevaDireccionRegion"
              optionLabel="name"
              (onChange)="getProvincias()"
              placeholder="Seleccione region" />

    </div>
    <div>
            <p-dropdown
              [options]="listaProvincia"
              [(ngModel)]="nuevaDireccionProvincia"
              optionLabel="name"
              (onChange)="getCiudades()"
              [disabled]="listaProvincia == null"
              placeholder="Seleccione provincia" />
    </div>
    <div>

            <p-dropdown
              [options]="listaCiudades"
              [(ngModel)]="nuevaDireccionCiudad"
              optionLabel="name"
              [disabled]="listaCiudades == null"
              placeholder="Seleccione ciudad" />
    </div>
    <div>
            <input
              pInputText
              id="nuevaDireccionCalle"
              class="p-inputtext-sm"
              aria-describedby="nuevaDireccionCalle-help"
              [(ngModel)]="nuevaDireccionCalle" />
    </div>
    <div>
              <p-button size="small"
                label="agregar"
                [disabled]="nuevaDireccionCiudad == null"
                (onClick)="agregarDireccion()"/>
    </div>
            }@else{
              <p-button size="small" label="agregar" (onClick)="agregando = true"/>
            }
            }
          </p-scrollPanel>
          <div class="flex justify-content-between">
              <p-button [style]="{ 'float': 'left' }" label="Atras" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
            @if(selectedRetiro != 'despacho'){
              <p-button
                [style]="{ 'float': 'right' }"
                label="Siguiente"
                icon="pi pi-arrow-right"
                iconPos="right"
                (onClick)="nextCallback.emit()" />
              }
            @if(selectedRetiro == 'despacho'){
              <p-button
                [style]="{ 'float': 'right' }"
                label="Siguiente"
                [disabled]="selectedDireccion == null"
                icon="pi pi-arrow-right"
                iconPos="right"
                (onClick)="nextCallback.emit()" />
              }
          </div>
        </ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Pago">
      <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
        <span>Metodo de pago:</span>
        <div class="flex justify-content-between">
            <p-radioButton
              name="Transferencia"
              value="transferencia"
              autofocus="true"
              [(ngModel)]="selectedPago"
              inputId="1"></p-radioButton>
            <label for="1" class="ml-2">Transferencia</label>
            <p-radioButton
              name="Pago en tienda"
              value="enTienda"
              [style]="{ 'margin-left': '30px' }"
              [(ngModel)]="selectedPago"
              inputId="ingredient2"></p-radioButton>
            <label for="ingredient2" class="ml-2">Pago en tienda</label>
            <p-radioButton
              name="WebPay"
              value="webpay"
              [disabled]="true"
              [style]="{ 'margin-left': '30px' }"
              [(ngModel)]="selectedPago"
              inputId="ingredient3"
              pTooltip="Temporalmente no disponible"
              ></p-radioButton>
            <label for="ingredient3" pTooltip="Temporalmente no disponible" class="ml-2">WebPay</label>
        </div>
          <p-scrollPanel [style]="{ width: '100%', height: '250px' }">
            <div [style]="{ 'margin-top': '5px' }">
            @if(selectedPago == "transferencia"){
              <span>Pagar con transferencia</span>
            }
            @if(selectedPago == "tienda"){
              <span>Pa pago en tienda</span>
            }
            </div>
          </p-scrollPanel>
        <div style="text-align: right;" class="flex pt-4 justify-content-end">
          <p-button [style]="{ 'float': 'left' }" label="Atras" icon="pi pi-arrow-left" iconPos="left" (onClick)="prevCallback.emit()" />
            <p-button [style]="{ 'float': 'right' }" label="Finalizar" icon="pi pi-flag" iconPos="right" (onClick)="finalizarCompra()"/></div>
      </ng-template>
    </p-stepperPanel>
</p-stepper>
  }
  @case(1){
  <div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
    <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
  </div>
  }
  @case(2){
    <h3>Compra completada correctamente</h3>
    @if(selectedPago == 'transferencia'){
    <div>
    <span>Codigo compra</span>
    <p-badge pTooltip="Use este codigo en la seccion de 'Seguimiento de compra' para ver el estado de su pedido"
      badgeSize="small" value="?"></p-badge>
    <span>: {{detallesCompra.compra_codigo}} </span>
    </div>
    <div>
      <span>Su pedido se empezara a procesar una vez se haga el deposito a la siguiente
        cuenta bancaria y se envie el comprobante al email adjunto:</span>
    </div>
    <br>
    <div> <span> BIOBIO RECICLAJES SpA </span> </div>
    <div> <span> 77907204-5 </span> </div>
    <div> <span> Banco de Chile </span> </div>
    <div> <span> FAN Emprende </span> </div>
    <div> <span> 536724289 </span> </div>
    <div> <span> va.orialco&#64;gmail.com </span> </div>
    <br>
      <span>Su pedido se está preparando, puede ver el estado del pedido en la sección de 'Historial de compras' de su perfil.</span>
    }@else{
    <div>
    <span>Codigo compra</span>
    <p-badge pTooltip="Use este codigo en la seccion de 'Historial de compras' para ver el estado de su pedido"
      badgeSize="small" value="?"></p-badge>
    <span>: {{detallesCompra.compra_codigo}} </span>
    </div>
    <div>
    </div>
    }
  }
  @case(3){
    Algo salio mal
  }
  }
</p-dialog>
