<p-sidebar (onHide)="cerrarSidebar()" showCloseIcon="false" [visible]="abierto"  position="right">
    <h3>Carrito de compras</h3>
    @if(discosDuros.length == 0){
      <p> El carrito de compras está vacio. </p>
    }
    @if(discosDuros.length != 0){
    <p-button size="small">
      Finalizar compra
    </p-button>
      }
    @for (discoDuro of discosDuros; track discoDuro.id) {
    <div style="margin-right: 10px; margin-bottom: 10px;">
      <p>
      {{discoDuro.nombre}}
      </p>
      <p-button icon="pi pi-trash" size="small" (click)="eliminarCompra(discoDuro.id)">
      </p-button>
    </div>
    }
</p-sidebar>
