    <div>
      <h3>Gestion de perfil</h3>
    <div style="margin-top: 20px;">
      <p>Gestion de contraseña</p>
      <div style="margin-top: 1%;">
        <div>
          <label for="volumen">Contraseña actual:</label>
        </div>
        <input
        pInputText
        id="volumen"
        class="p-inputtext-sm"
        type="password"
        aria-describedby="peso-help"
        [(ngModel)]="contrasenaActual" />
      </div>
      <div style="margin-top: 1%;">
        <div>
          <label for="volumen">Contraseña nueva:</label>
        </div>
        <input
        pInputText
        id="volumen"
        type="password"
        class="p-inputtext-sm"
        aria-describedby="peso-help"
        [(ngModel)]="contrasenaNueva" />
      </div>
      <div style="margin-top: 1%;">
        <div>
          <label for="volumen">Contraseña nueva (repetir):</label>
        </div>
        <input
        pInputText
        type="password"
        id="volumen"
        class="p-inputtext-sm"
        aria-describedby="peso-help"
        [(ngModel)]="contrasenaNuevaRepetir" />
      </div>
      <div style="margin-top: 3%;">
        <p-button
          size="small"
          [disabled]="!(contrasenaActual != '' && contrasenaNueva.length > 6 && contrasenaNueva == contrasenaNuevaRepetir)"
          (onClick)="cambiarContrasena()">
          Cambiar contraseña
        </p-button>
      </div>
    </div>
    <div>
      <p>Gestion de direcciones</p>
            @for (direccion of direcciones; track direcciones) {
              <app-mostrador-direccion
                [direccion]="direccion"
                (onEliminarClick)="eliminarDireccion($event)"
                [seleccionable]="false"
                />
            }
            @if(agregando){
    <div>
            <p-dropdown
              [options]="listaRegiones"
              [(ngModel)]="nuevaDireccionRegion"
              optionLabel="name"
              (onChange)="getProvincias()"
              placeholder="Seleccione region" />

    </div>
    <div>
            <p-dropdown
              [options]="listaProvincia"
              [(ngModel)]="nuevaDireccionProvincia"
              optionLabel="name"
              (onChange)="getCiudades()"
              [disabled]="listaProvincia == null"
              placeholder="Seleccione provincia" />
    </div>
    <div>

            <p-dropdown
              [options]="listaCiudades"
              [(ngModel)]="nuevaDireccionCiudad"
              optionLabel="name"
              [disabled]="listaCiudades == null"
              placeholder="Seleccione ciudad" />
    </div>
    <div>
            <input
              pInputText
              id="nuevaDireccionCalle"
              class="p-inputtext-sm"
              aria-describedby="nuevaDireccionCalle-help"
              [(ngModel)]="nuevaDireccionCalle" />
    </div>
    <div>
              <p-button size="small"
                label="agregar"
                [disabled]="nuevaDireccionCiudad == null"
                (onClick)="agregarDireccion()"/>
    </div>
            }@else{
              <p-button size="small" label="agregar" (onClick)="agregando = true"/>
            }
    </div>
    </div>
<p-toast />
